* {
    box-sizing: border-box;
}

.grid {
    display: grid;
}

.grid.add-gutters {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.grid.about-gutters {
    grid-column-gap: 2rem;
    width: 78vw;
}

.grid.hobbies-width {
    width: 80vw;
}

.grid.three-column {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid.four-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 68rem) {
    .grid.four-column {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 41rem) {
    .grid.two-column {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 41rem) {
    .grid.set-size {
        width: auto;
    }
    .grid.four-column {
        grid-template-columns: 1fr 1fr;
    }
    .grid.add-gutters {
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
    }
    .grid.about-gutters {
        grid-row-gap: 0;
    }
}